*{
  margin:0;
  padding:0;
}

.wrapper{
  max-width: 1180px;
}

.textcolor{
  color:#254446;
}

.bg-block{
  background-color: #254446;
}

.descslide{
  font-family: 'Open Sans';
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  background-color: #ABD5D6;
}

html, body {
  overflow-x: hidden;
}

header{
  box-shadow: 0px 4px 20px 0px #7697850D;
  overflow: hidden;
}

#app{
  background-color: #ABD5D6;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.bg-button{
  background-color:#254446;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 48px;
  min-height: 48px;
  gap: 10px;
  border-radius: 10px;
  opacity: 0px;
}

.bg-button-menu{
  background-color: #EAF5ED;
}

.border-green-aqua{
  border-color: #254446;
  border-width: 0 0 0 25px;
}

.bg-aqua{
  background-color: #ABD5D6;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

@media (prefers-color-scheme: light) {
  :root {
    color:#254446;
  }
  a:hover {
    color: #747bff;
  }
}

@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Light.ttf') format('truetype');
}